
<%= form_for [@new_sub_contest] do |f| %>
    <div class="field">
        <%= f.text_field :name %>
        <%= f.submit %>
    </div>
        <%= f.hidden_field :parent_id %>
  <% if flash[:contest_needs_name] %>
    <div class="error text-danger">
      <%= flash[:contest_needs_name] %>
    </div>
    <% end %>
<% end %>