<p id="notice"><%= notice %></p>

<h2><%= @contest.name %></h2>

<%= render "contests/bread_crumbs" %>

<p>
  <%= @contest.note %>
</p>

<div id="contests">


    <% @contest.contests.sort_by{|c| c.completed ? 1 : 0}.sort_by{|o| o.votes.size}.reverse.each do |contest| %>
      <% next if contest.id.nil? %>
    <div class="container m-1 card">
      <div class="row" id="ContestListItemTopRow">
        <div class="col-2" id="ContestUpVoteColumn">
          <div class="row" id="ContestUpVoteTopRow">
            <div class="col-2" id="ContestCompletedCol">
              <% if contest.completed %>
                <h4 style="color: green;"><%= "√" %></h4>
              <% end %>
            </div>
            <div class="col-10" id="ContestUpVoteButton">
              <h4>
                <%= link_to '^', contest_upvote_path(contest.id), method: :patch %>
              </h4>
            </div>
          </div>
          <div class="row" id="ContestUpVoteBottomRow">
            <div class="col" id="ContestCountCol">
              <small><%= contest.votes.count %> votes</small>
            </div>
          </div>
        </div>
        <div class="col-10" id="ContestNameAndDescCol">
          <div class="row" id="ContestNameRow">
            <div class="col" id="ContestNameCol">
              <h3><%= link_to contest.name, contest_path(contest) %></h3>
            </div>
          </div>
          <div class="row" id="ContestDescRow">
            <div class="col" id="ContestDescCol">
              <h6>
                <%= contest.note&.split("\n")&.first %>
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="ContestActionRow">
        <div class="col" id="ContestCompleteCol">
          <% if not contest.completed %>
          <%=  link_to 'Complete', contest_complete_path(contest.id), method: :patch  %>
          <% else %>
          <%=  link_to 'Incomplete', contest_incomplete_path(contest.id), method: :patch  %>
          <% end %>
        </div>
        <div class="col" id="ContestDeleteCol">
          <%= link_to 'Delete', contest_path(contest.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
    <% end %>



<!--  <hr/>-->
<!--  <table>-->
  <%# @contest.contests.sort_by{|c| c.completed ? 1 : 0}.sort_by{|o| o.votes.size}.reverse.each do |contest| %>
    <%# next if contest.id.nil? %>
<!--    <tr>-->
<!--    <div>-->
<!--        <td>-->
          <%#= form_for [contest, contest.votes.build] do |f| %>
            <%#= f.submit "Up" %>
            <%#= f.hidden_field :contest_id, value: contest.id %>
          <%# end %>
          <%#= form_for [contest] do |f| %>
            <%#= f.submit "√" %>
            <%#= f.hidden_field :completed, value: true %>
          <%# end %>
<!--        </td>-->
<!--        <td><strong><%#= link_to contest.name, contest_path(contest) %></strong></td>-->
<!--        <td text-color="green"><%#= "completed" if contest.completed %></td>-->
<!--        <td><small><%#= contest.votes.size %> votes</small></td>-->
<!--        <td><%#= link_to 'Delete', contest_path(contest.id), method: :delete, data: { confirm: 'Are you sure?' } %></small></td>-->
<!--        <td><small><%#= contest.votes.pluck("created_at").sort.last %></small></td>-->
<!--        <td>-->
          <%# contest.tags.each do |t| %>
            <%#= link_to t, t %>
          <%# end %>
<!--        </td>-->
<!--    </div>-->
<!--    </tr>-->
  <%# end %>
<!--  </table>-->
</div>

<%= render 'contests/inline_form' %>

<%= link_to "Back", @contest.parent_id ? contest_path(@contest.parent_id) : contests_url%>
<%= link_to 'Edit', edit_contest_path(@contest) %>

